.carDetails {
  position: absolute;
  top: 0;
  margin-left: 300px;
  z-index: 1;
}

.carInfoPage {
  height: 100%;
}

.carList {
  position: relative;
  top: 50px;
  padding-bottom: 100px;
}

.carContainer {
  position: relative;
  margin-top: 200px;
  height: 100%;
}

.carContainer.selected .carList {
  opacity: 0.1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carContainer.selected .detailPageObject {
  opacity: 0.1;
}

.detailPageObject {
  position: relative;
  top: 100px;
  margin-left: 650px;
  padding-bottom: 200px;
}

.detailPageObject>p {
  margin-left: 20px;
}

.detailPageObject>button {
  border-style: none;
  background: rgb(8, 94, 148);
  color: white;
  width: 130px;
  height: 60px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 50%;
}

.detailPageObject>button:hover {
  background: rgb(31, 126, 186);
}

.imageCar {
  width: 450px;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}

.carName {
  margin-top: 100px;
}

.sliderPage {
  position: relative;
  bottom: 200px;
  background-color: #0c1b36;
  height: 800px;
}

.sliderBar {
  box-shadow: 0 0 10px 12px rgb(20, 78, 154);
  padding: 30px;
  background: black;
  width: 1400px;
  margin-left: 23px;
  position: relative;
  top: 60px;
}

.footerImage {
  height: 500px;
}

.footerPhoto {
  padding-top: 10px;
  width: 100%;
  height: 600px;
  margin-top: 80px;
}

.selected .sliderPage {
  opacity: 0.1;
}

.selected .footerImage {
  opacity: 0.1;
}

.carCarePage {
  position: relative;
  bottom: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.careHeader {
  color: white;
  padding-bottom: 40px;
}

.careInfo {
  color: white;
  padding-bottom: 60px;
}

.careInfoButton {
  background: #002c5f;
  border-style: none;
  width: 140px;
  height: 60px;
  font-weight: 600;
}

.careInfoButton {
  text-decoration: none;
  color: white;
}

.careInfoButton:hover {
  text-decoration: underline;
}

.suvh4 {
  margin-left: 560px;
  font-weight: 800;
  font-size: 40px;
}

.suvPacket {
  width: 100%;
  height: 400px;
}

/*********  galeri  *************/

.galleryWrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: auto;
  margin-left: 10px;
  width: 1420px;
  box-shadow: 0 0 6px 4px rgb(107, 100, 100);
}

.galleryContainer {
  margin-top: 200px;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.galleryMod {
  display: flex;
  margin-left: 10px;
  overflow: hidden;
}

.firstPage {
  display: flex;
  margin-left: 10px;
  overflow: hidden;
  object-fit: cover;
}

.secondPage {
  display: flex;
  margin-left: 10px;
  overflow: hidden;
}

.firstPage>img {
  margin-left: 30px;
  width: 300px;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
}

.secondPage>img {

  margin-left: 30px;
  width: 300px;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
}

.galleryMod-controls {
  position: relative;
  cursor: pointer;
  border-style: none;
}

.rightClick {
  width: 40px;
  height: 40px;
  border-style: none;
  background: rgb(178, 184, 196);
  opacity: 0.6;
  position: relative;
  left: 1386px;
  bottom: 120px;
}

.leftClick {
  width: 40px;
  height: 40px;
  border-style: none;
  background: rgb(178, 184, 196);
  opacity: 0.6;
  position: relative;
  bottom: 120px;
  right: 25px;
}

.circle {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: grey;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.circle.buttonactive {
  background: rgb(0, 145, 255);
}

.actionCircle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerUstBar {
  margin-top: 400px;
}

.rightClick .buttonActive {
  background: red;
}

.carouselAltInfo {
  display: flex;
  position: relative;
  bottom: 160px;
  margin-left: 350px;
}

.carouselAltInfo>li {
  margin-left: 60px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.carouselAltInfo>li:hover {
  text-decoration: underline;
}





@media screen and (max-width: 540px) {
  .detailPageObject {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    right: 630px;
  }

  .imageCar {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    grid-template-rows: none;
  }

  .carouselAltInfo {
    position: relative;
    right: 400px;
  }

  .sliderBar {
    display: none;
  }

  .carouselAltInfo li{
    font-size: 14px;
    
  }
  .carouselAltInfo{
    margin-left: 380px;
  }

  .suvh4 {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    right: 320px;
  }
  .carInfoPage{
    display: none;
  }

}
