.carDetails {
    position: absolute;
    top: 0;
    margin-left: 300px;
    z-index: 1;
}

.carInfoPage {
    height: 400px;
}

.carList {
    position: relative;
    top: 50px;
}

.carContainer {
    position: relative;
    margin-top: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carContainer.selected .carList {
    opacity: 0.1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carContainer.selected .detailPageObject {
    opacity: 0.1;
}

.detailPageObject {
    position: relative;
    top: 100px;
    margin-left: 650px;
}

.detailPageObject>p {
    margin-left: 20px;
}

.detailPageObject>button {
    border-style: none;
    background: rgb(8, 94, 148);
    color: white;
    width: 130px;
    height: 60px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 50%;
}

.detailPageObject>button:hover {
    background: rgb(31, 126, 186);
}