.modul {
    position: fixed;
    width: 900px;
    height: auto;
    z-index: 2;
    border: 3px dashed white;
    padding: 10px;
    top: 80px;
    background: rgb(8, 94, 148);
    color: white;
}

.closePopup {
    border-style: none;
    width: 100px;
    height: 40px;
    background: rgba(0, 106, 255, 0.701);
    color: white;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 750px;
    border-radius: 20px;
}

.closePopup:hover {
    background: rgb(66, 130, 219);
}

.popupİmage {
    height: 200px;
    width: 35%;
    object-fit: cover;
    margin-top: 20px;
    margin-left: 280px;
}

@media screen and (max-width: 540px) {
    .modul {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column;
        position: fixed;
        width: 400px;
        height: 650px;
        right: 50px;
        bottom: 20px;
    }

    .modul p {
        display: inline-block !important;
        color: white;
        font-size: 10px;
    }

    .modul img {
        display: inline-block;
        position: relative;
        margin-bottom: 40px;
        width: 200px;
        height: auto;
    }

    .closePopup {
        display: inline-block !important;
        position: relative;
        bottom: 20px !important;
        right: 250px !important;
        width: 100px;
    }

}