.carouselBackround {
    height: 400px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.containerSales .salesHeader {
    position: relative;
    bottom: 480px;
    left: 520px;
}

.salesHeaderBackround {
    position: relative;
    width: 1000px;
    height: 300px;
    background: white;
    opacity: 0.6;
    left: 240px;
    bottom: 300px;
}


.salesAltPhoto {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    height: 200px;
    bottom: 200px;
}

.salesAltPhoto>img {
    position: absolute;
    width: 30px;
    height: 60px;
    object-fit: cover;

}

.picture1 {
    display: flex;
    flex-direction: column;
    border: 4px solid #00aad2;
    align-content: center;
    justify-content: center;
    width: 100px;
}

.picture2 {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    border: 4px solid #00aad2;
    align-content: center;
    justify-content: center;
    width: 100px;
}


.picture3 {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    border: 4px solid #00aad2;
    align-content: center;
    justify-content: center;
    width: 100px;
}

.salesInfo {
    display: flex;
    position: relative;
    bottom: 320px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.mainDirect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 120px;
    padding-bottom: 120px;
}

.mainDirect>button {
    border-style: none;
    background: rgb(8, 94, 148);
    color: white;
    width: 130  px;
    height: 60px;
    border-radius: 50%;
}

.picture3P {
    line-height: 1.5;
} 