.h1 {
  background: rgb(8, 94, 148);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.carList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.carName {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.car {
  flex-basis: calc(25% - 10px);
  margin: 5px;
  text-align: center;
}

.carInfoPage {
  background: white;
}

.onlineSupport {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  background: rgb(8, 94, 148);
  width: 250px;
  height: 60px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0 0 0;
}

.onlineSupport:hover {
  background: rgb(31, 126, 186);
}

.messageIcon {
  margin-top: 6px;
  font-size: 30px;
  margin-right: 20px;
}

.rightBar {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: rgb(187, 176, 176);
  justify-content: end;
  right: 0;
  top: 100px;
  bottom: 0;
  z-index: 2;
  height: 436px;
  font-size: 50px;
}

.rightBarIcons {
  cursor: pointer;
}