.carouselFooterPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.pageCarousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 20px;
    width: 650px;
    height: 500px;
    border: 2px solid red;
}

.carouselFooterPage>button {
    background-color: transparent;
    border: none;
    font-size: 3rem;
    cursor: pointer;
}

.carouselFooterPage>button:focus {
    outline: none;
}

.carouselFooterPage>p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.carouselFooterPage>h3 {
    position: absolute;
    margin: 0;
    font-size: 2rem;
}

.carouselPrew {
    margin-right: 160px;
}

.carouselNext {
    margin-left: 160px;
}

.buttonControl {
    position: absolute;
    margin-top: 340px;
    display: flex;
}

.carouselAddButton {
    background: #002c5f;
    width: 200px;
    height: 60px;
    color: white;
    border-style: none;
}

.carouselAddButton:hover {
    text-decoration: underline;
}

.carouselInspectButton {
    background: #002c5f;
    width: 200px;
    height: 60px;
    color: white;
    border-style: none;
    margin-left: 30px;
}

.carouselInspectButton:hover {
    text-decoration: underline;
}