.carouselContainer {
    width: 100%;
    height: 800px;
    background: black;
}

.carouselH3 {
    position: relative;
    bottom: 350px;
    left: 200px;
}

.caoruselH3Button {
    position: relative;
    bottom: 300px;
    left: 250px;
    color: white;
    border-style: none;
    font-weight: 600;
    height: 60px;
    background-color: #002c5f !important;
}

.caoruselH3Button:hover {
    text-decoration: underline;
}

.caoruselOption {
    display: flex;
    position: relative;
    top: 150px;
    left: 580px;
}

.circleCarousel {
    display: flex;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: grey;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

.circleCarousel.selectedCircleOption {
    background-color: blue;
}

.caoruselH3Button>a {
    text-decoration: none;
    color: white;
}

